
body{
    overflow-x: hidden;
    /* max-width: 80%; */
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;

}

.contents{
    width: 100%;
}
.free-estimate{
    font-family: Poppins;
    text-align: center;
    /* border: solid 4px black; */
    background-color: black;
    color: white;
    margin-top: 0;
    width: 100%;
    padding: 10px 0;
}
.call{
        display: flex;
      
}
.navbar {
        padding-left: 25%;
        padding-right: 100px;
        gap: 200px;
        display: flex;
        background: transparent;
        text-decoration: none;
        color: gray;
}

.dribble{
    display: flex;
    margin-left: -3%;
    font-family: Poppins;
}
.navbar a{
    text-decoration: none;
    color: black;
    margin-bottom: 30px;
    margin-top: 40px;
    font-size: 20px;
}
.top-text{
    display: flex;
    justify-content: space-between;
    padding: 10px 10%;
}
.top-text i{
   padding-top: 20px;

}
.family-moving{
    position: relative; 
    text-align: center; 
    background-image: url('images/family.jpeg');
    background-size: cover; 
    background-position: center; 
    color: white; 
    height: 80vh;
    padding-top: 10%;
}

.family-moving::after {
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}
.family-moving h1 {
    position: relative; 
    z-index: 2; 
    font-size: 80px;
   
}
.family-moving h4{
    font-size: 25px;
    position: relative; 
    z-index: 2; 
    
   
}
.family-moving button{
    background-color: orange;
    width: 250px;
    height: 80px;
    color: white;
    font-size: 25px;
    position: relative; 
    z-index: 2; 
}
.moving{
  display: flex;
  gap: 15%;
  margin: 5% auto;
  width: 80%;

}
#couple{
    height: 500px;
    width: 700px;
}
.learn{
    font-weight: bold;
    font-size: 20px;
}

.learn h3{
    font-size:60px;
}
.since-riaad{
    display: flex;
    gap: 40px;
}
#year{
    font-weight: bold;
    font-size: 60px;
}
.riaad img{
    height: 500px;
    width: 600px;
    margin-bottom: 100px;
}
.shape{
    height: 500px;
    width: 700px;
    border: solid 10px blue;
    position: absolute;
    top: 1350px;
    left: 1000px;
}

.logos{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% auto;
}


.services {
    width: 80%;
    margin: 5% auto;
    background: #f8f9fa;
    padding: 50px;
    text-align: center;
}
.services h2{
    font-size: 60px;

}

.service-items {
    display: flex;
    justify-content: space-around;
}

.service-item {
    background: white;
    padding: 20px;
    width: 200px;
}
.services a{
    color:orange;
}
.highlight {
    background: blue;
    color: white;
}
.help{
    display: flex;
}
.help h2{
    font-weight: bold;
    font-size: 50px;
    padding-left: 300px;
}
.play{
    padding-left: 600px;
    display: flex;
    gap: 60px;
}
.click {
    display: flex;
    margin: 5% auto;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    
}
h4 {
    font-size: 45px;
    margin-top: 80px;
   
}
.chooseleadingriaad i{
    background-color: yellow;
    border-radius: 50%;
    font-size: 30px;
}
.clickandwatchvideo{
    display: flex;
    gap: 100px;
    margin-left: 300px;
}
.click-video {
    margin-left: 190px;
    display: flex;
    gap: 40px;
    margin-top: 90px;
}
#click-text {
    font-size: 18px;
}
.watch{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 200px;
    img {
        width: 100%;
        height: 80%;
        display: block;
    }
    i {
        
      position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 30px;
        border-radius: 50%;
        background-color: #F9A825;
        color: #fff;
        font-size: 30px;
        cursor: pointer;
    }
}
#startverifying {
    color: orange;
}
.riaad-business {
    display: flex;
    background-image: url(images/store.webp);
    background-repeat: no-repeat;
    margin: 5% auto;
    gap: 10%;
    width: 80%;
}
.verified{
    margin-left: 100px;
    margin-top: 80px;
    background-color: white;
    height: 250px;
    width: 330px;
    font-size: 25px;
    font-family: 'poppins';
}
#get-started {
    margin-top: -20px;
}
.leadingriaad {
    margin-left: 500px;
    font-family: Poppins;
    margin-bottom: 3%;
}
#whychoosingriaad {
    color: orange;
    margin-top: -9%;
}
h5 {
    font-size: 290%;
    font-family: Poppins;
}
#definition {
    margin-top: -8%;
    font-family: Poppins;
}
#donothesitatetobook{
    text-align: center;
   font-family: Poppins;
   margin-bottom: 3%;
}
#donothesitatetobook u{
    color: orange;
}
.play-video img {
    height: 90vh;
    width: 100%;
    display: flex;
}
.icon {
    position: relative;
    overflow: visible;
    margin-top: -3%;
}
#couple1 {
    padding: 3%;
    width: 90%;
    height: 800px;
    overflow: hidden;
}

.for-booking{
    width: 100%;
}
.booking {
    display: flex;
    width: 100%;
    height: 60vh;
}
.book-now {
    position: relative;
    border: none;
    background-color: orange;
    padding: 3% 10% 0.01% 18%;
    color: white;
    height: 580px;
    /* width: 80% */
  
}
form input {
    width: 500%;
    height: 35px;
    border: solid 1px rgb(192, 185, 185);
}
.book-early {
    position: absolute;
    border: none;
    background-color: rgb(66, 66, 143);
    padding: 5%;
    width: 80%;
    height: 452px;
    /* height: 33px; */
}
.all-type {
    display: flex;
    gap: 20px;
    /* margin-top: -105px; */
    color: white;
}
#movingtype {
    margin-left: 0;
}
#date {
    margin-left: 0;
}
.all-type input,
.book-form input,
.to input {
    width: 250px;
    height: 30px;
    padding: 5px;
}
.book-form {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    color: white;
}
.to {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
    color: white;
    align-items: center;
}
.to button {
    padding: 10px 10px;
    height: 43px;
    background-color: orange;
}
#orangeplay {
    position: absolute;
    overflow: visible;
    left: 50%;
    top: -550px;
    cursor: pointer;
}
.testimonals {
    line-height: 30px;
    display: flex;
    gap: 6%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

pre{
    text-align: center;
    align-items: center;
}
.updates{
    text-align: center;
    margin-top: 5%;
}
.updates h2{
    font-size: 40px;
}

.news-letter{
    color: #F9AA33;
    text-decoration: underline;
    font-weight: 700;
}
.article {
    margin-top: 11%;
    text-align: center;

}
.article h1{
    color: black;
    margin-left: -2%;
    font-family: Poppins;
    font-size: 400%;
}

.yellow-article {
    color: #FFA600;
}
.new-update {
    display: flex;
    margin-left: 31%;
    gap: 1.9%;
    margin-bottom: 4%;
}
.new-update input {
    width: 30%;
    border: none;
    background-color: rgb(252, 244, 227);
}
.new-update button {
    height: 50px;
    width: 220px;
    background-color: rgb(255, 187, 0);
    border: none;
}
.blog {
    text-align: center;
    margin-bottom: 2%;
}
.blog p {
    color: rgb(255, 187, 0);
}
.update {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 80%;
    /* margin: 50px auto; */
    text-align: center;
}
.subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.subscribe button{
    background-color: #F9AA33;
    height: 50px;
    padding: 10px 20px;
}

.subscribe input{
    width: 300px;
    height: 50px;
    border: none;
}
.new-update input {
    width: 30%;
    border: none;
    background-color: rgb(252, 244, 227);
}
.new-update button {
    height: 50px;
    width: 280px;
    background-color: rgb(255, 187, 0);
    border: none;
    margin-left: 2%;
}
.news-article {
    display: block;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2%;
}
.news-article h2{
    font-size: 45px;
}
.all-news{
    display: flex;
    /* margin-left: 15%; */
    width: 100%;
    gap: 5%;
}
.news-item {
    position: relative;
    background-image: url(images/entertainment.jpeg);
    background-repeat: no-repeat;
    width: 30%;
    height: 400px;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#news1{
    background-image: url(images/choose\ us.jpeg);
}
#news2{
    background-image: url(images/we\ help\ .jpeg);
}
.news-item .admin-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 2px;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    width: 97%;
    text-align: center;
    padding-top: 50%;
}

.footer-class {
    font-family: Arial, sans-serif;
    width: 100%;
}
.footer {
    font-family: Poppins;
    background-color: #222;
    color: #fff;
}
.footer-top {
    text-align: center;
    padding: 70px 10%;
    background-color: #F9AA33;
    display: flex;
    justify-content: space-between;
}

.discover {
    margin-top: 10px;
    height: 60px;
    padding: 10px 20px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    margin-left: 300px;
}
.discover:hover {
    background-color: #444;
}
.footer-bottom {
    display: flex;
    padding: 70px 10%;
    height: 440px;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}
.contact-address,
.footer-links {
    flex-basis: 5%;
    /* margin-bottom: 20px; */
    margin-left: 250px;
}


.contact-address{
    padding-top: 5%;
   
}
.media-platforms {
    display: flex;
    gap: 15%;
    margin-top: 7%;
    margin-left: 6%;
}
.contact-info {
    margin: 40px;
    margin-top: 6%;
}
.footer-links ul {
    list-style-type: none;
    padding: 0;
}
.footer-links li {
    margin-bottom: 8px;
}
.footer-links a {
    color: #fff;
    text-decoration: none;
}
.footer-links a:hover {
    text-decoration: underline;
}
.media-platforms a {
    color: #fff;
    display: inline-flex;
    font-size: 30px;
}
#twitter {
    color: #F9AA33
}
.media-platforms a:hover {
    color: #F9AA33;
}
hr {
    width: 80%;
    margin: 5% auto;
    
}
.copyright-riaad {
    text-align: center;
    padding: 40px;
    /* background-color: #111; */
}
